ul.main-nav li a ul{background-color:gray;}
.row{background-color: black;}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}

/* This hides the dropdowns */

ul li a:hover{background-color: gray;color: black;}

li ul { display: none; }
ul.main-nav li:hover ul li a{
  background-color: gray;
  color: black;
}
ul.main-nav li:hover ul li a:hover{
  background-color: white;
  color: black;
}
ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background-color: black;}
/* Display the dropdown */
ul li a li{background-color: white;}
li:hover > ul {
  display: block;
  position: absolute;
  background-color: white;
}

li:hover li { float: none; }

li:hover a { background: black; color: white; }

li:hover li a:hover { background-color:gray; color: black; }

.main-nav li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}
/* Simple clearfix */
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }