ul.main-nav li a ul{background-color:gray;}
.row{background-color: black;}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #1bc2a2;
}

/* This hides the dropdowns */

ul li a:hover{background-color: gray;color: black;}

li ul { display: none; }
ul.main-nav li:hover ul li a{
  background-color: gray;
  color: black;
}
ul.main-nav li:hover ul li a:hover{
  background-color: white;
  color: black;
}
ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background-color: black;}
/* Display the dropdown */
ul li a li{background-color: white;}
li:hover > ul {
  display: block;
  position: absolute;
  background-color: white;
}

li:hover li { float: none; }

li:hover a { background: black; color: white; }

li:hover li a:hover { background-color:gray; color: black; }

.main-nav li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}
/* Simple clearfix */
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search__container {
    padding-top: 64px;
}


.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
        .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}