/*xóa viền*/
body {margin: 0px !important;} 
/*anh parallax */
/*edit page cuc bo*/
.col-md-3{
    margin-top: 10%;
}
.col-md-3{
  margin-top: 3% !important;
}
.col-md-6{
    margin-top: 10%; 

}
.col-md-6{
  margin-top: 3% !important;
}
.parallax{
    min-height: 390px; 
    /*background: transparent;
    width: 100% ;
    max-width: none;
    margin: none;
    padding: none;*/
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.view-body{
  margin-top: 30px;
}
/*row 1 */
.aside-comment{
    color: white;
    font-size: 50px;
    padding: 5%;
    margin-top: 10%;
    margin-left: 33%;
}
.info{
    z-index: 2;
    position: relative;
}

/*row 2*/
.text-a{
  color: white;
  margin-top: 5%;
}
.text-a:hover{
  color: black;
  background-color: white;
  text-decoration: none;
}
.row .background-picture{
  width: 50%; 
  min-height: 355px; 
  background: black; 
  float: right;
  margin-top: -355px;
}

/*row 3*/
.outside-title-page{
  /*margin: 33%;*/
  font-size: 50px;
  text-align: center;
  display: block;
}
.outside-title-page-small{
  font-size: 25px;
  text-align: center;
  display: block;
}

/*row 4*/
.defaut_category {
  padding: 12px 16px;
  background-color: white;
  margin: 20px;
  border: 1.5px solid black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;

}
.defaut_category:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}
.defaut_category.active {
  background-color: #1a1717;
  color: white;
  border: #f7f8fe solid 0.5px;
  text-align: center;
  border: 1.5px solid black;
  font-weight: bold;

}
/*.media-list{
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  padding-right: 0px !important;
  font-weight: bold;
  margin: 0% 0%;
  border: 1px solid black;
}
.media-list:hover{
  background-color: black;
  color: white;
}*/
.pagination-list
/*row 5*/
.product-hot{
  padding: 15px 15px;
}
.header{
  min-height: 70px !important;
}
.thumbnail{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}
.thumbnail .info-product{
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 75%;
}
.cart{
  padding: 5px 20px !important;
  background-color: black !important;
  color: white !important;
  border: none !important;
  float: right !important;
}
.cart:hover{
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}
.price{
  width: 30%;
  float: left;
}
.container-page{
    max-width: 960px;
    margin: 0 auto;
    font-size: 24px;
    padding: 25px;
}
.logo{
    margin-left: 30%;
    margin-top: 5%;
}
.column {display: none; /* Hide all elements by default */}
.show {display: block;}
/*row 7*/
.picture{
  height: 200px;
  width: 278px;
}
.picture .text-inside{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 60%;
}
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);
.snip1581 {
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 270px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1581 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.snip1581 h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}
.snip1581 .title1 {
  font-weight: 700;
}
.snip1581 .title2 {
  color: #cb966d;
  font-weight: 300;
}
.snip1581 .title3 {
  font-weight: 700;
  font-size: 25px;
}
.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}
/* Demo purposes only */
/*body {
  background-color: #212121;
  text-align: center;
}*/
/* */
/*.navbar{
    margin-top: 50px;
}
.navbar>div>ul>li>a{
    height: 110px;
    font-size: 30px;
    padding-right: 115px;
    padding-left: 115px;
    line-height: 60px;
}
#navbar a.active{
  background-color: black !important;
  color: white;
  border-right: solid 1px white;
}*/
.thumbnail>img{
    z-index: 2;
    position: relative;
    width: 200px;
}
.contact{
    color: black;
    font-size: 90px;
    padding-left: 25%;
    padding-top: 10%;
}
/*footer edit*/
.footer{
    background-color: black;
    color: white;
    height: 250px;
    margin-top: 5%;
}
.footer .title{
    font-size: 20px;
    height: 60px;
    font-weight: bold;
    width: 100%;
    color: white;
    margin: 10% 30%;
}
.footer .info-footer{
  font-size: 15px;
  color: white;
}
.footer ul{
  list-style: none;
}
.footer ul li{
  text-decoration: underline;
}
.footer ul li a{
  text-decoration: none;
  color: white;
}
