.navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 19px;}
/*.navbar-inverse .navbar-nav>li>a {*/
    /*color: #white; !important;*/
    /*font-weight: bold;*/
/*}*/
nav.nav_container {
	background: black;
	margin-top: 0px;
}
nav.navbar-inverse {
	/*background: black !important;*/
}
a > img.nav_logo {
	width: 196px ;
	margin-top: -5px;
	height: 40px;
}
 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  /*text-decoration: underline;*/
  color: #f309be;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

/*Navbar hover effects*/
@import url(https://fonts.googleapis.com/css?family=Muli);


.snip1555 li:before,
.snip1555 li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #528cb3;
  position: absolute;
  content: '';
  opacity: 0;
}
.snip1555 li:before {
  top: 0;
  left: 0;
  margin-top: 10px;
}
.snip1555 li:after {
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before,
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  opacity: 1;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before {
  left: 65%;
  margin-top: 10px;
}
.snip1555 li:hover:after,
.snip1555 li.hover:after {
  right: 65%;
  margin-bottom: 10px;
}

/*=========================================*/
.snip1556 li:before,
.snip1556 li:after {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  height: 2px;
  width: 35%;
  background-color: #528cb3;
  position: absolute;
  content: '';
  opacity: 0;
}
.snip1556 li:before {
  top: 0;
  left: 0;
  margin-top: 0 !important;
}
.snip1556 li:after {
  bottom: 0;
  right: 0;
  margin-bottom: 0 !important;
}
.snip1556 li:hover:before,
.snip1556 li.hover:before,
.snip1556 li:hover:after,
.snip1556 li.hover:after {
  opacity: 1;
}
.snip1556 li:hover:before,
.snip1556 li.hover:before {
  left: 65%;
  margin-top: 0 !important;
}
.snip1556 li:hover:after,
.snip1556 li.hover:after {
  right: 65%;
  margin-bottom: 0 !important;
}

/*//SEARCH BOX*/
/*.search__container {*/
    /*padding-top: 64px;*/
/*}*/


.search__input {
    width: 1140px;
    padding: 8px 25px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 13px;
    line-height: 11px;
    color: white;
    background-color: transparent;
    background-image: url('http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #9d9d9d;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    text-transform: uppercase;
    letter-spacing: 3.5px;
    transition: transform 250ms ease-in-out;
}

.search__input:hover{
    padding: 8px 25px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #9d9d9d;
    border-radius: 0px;
    background-position: 95% center;
}
