span>a {
  color:#3b5998;
  background: #fff;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  float: right;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}
span>a span {
  color:#3b5998;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

span>a:hover span {
  bottom:20px;
 
  opacity:1;
}
span>a:nth-of-type(1):before {
content:'\f09a';
}
span>a:nth-of-type(2):before {
content:'\f099';
}
span>a:nth-of-type(3):before {
content:'\f0d5';
}
span>a:nth-of-type(4):before {
content:'\f113';
}

span>a:nth-of-type(5):before {
content:'\f0e0';
}
.img-zoom-lens {
  position: absolute;

  /*set the size of the lens:*/
  /*margin-top: 150px;*/
  width: 150px;
  height: 150px;
}

.img-zoom-result {
  /*margin-top: 50px;*/
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  max-width: 100%;
  height: 491px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.close_custom {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
a.custom{
  text-align: left;
  display: block;
  width: 30%;
}
.img-responsive5{width: 100%;height: 100%}
.border-custom-1{
  border:1px solid black;

}
.border-zoom{
  display: block;text-align: center; cursor: zoom-in;height: 496px;
}
.display-zoom{
  display: none;
}
.margin-infomation{
  margin-top: 5px;
}
.caption-name{
  font-weight: 700;font-size: 2.3em;
}
.title-infomation{
  font-weight: 700;font-size: 1.3em;
}
.menu-select{
  width: 40%;
}
.powup-table{
  cursor: pointer;color: #ff00bae8;float: right;
}
.caption-powup{
  text-align: center;font-weight: bold;font-size: 1.5em;
}
.content-powup{
  margin-left: 50px;margin-right: 60px; border-bottom: 1px solid #ddd;font-size: 1.2em;margin-bottom: 8px;
}
.share-icon{
  float:right;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  max-height: 100%;
  max-width: 100%;
  font-weight: bold;
  margin-top: 0px;
}
.margin-button{
  margin-top: 120px;
}
.hr-clear{
  clear: right;
  margin-top: 60px;
  border: 1px solid #e1e1d0;
}
.hr-style{
  border: 1px solid #e1e1d0;
}
.caption-related{
  text-align: center;
  font-weight:600;
  font-size: 2em;
}
.title-related{
  font-weight: 700;
  float: left;
}
.caption-product{
  text-align: center; 
  font-weight:600;
  font-size: 2em;
}
.content-product{
  text-align: center;
  font-weight: 700;
  font-size: 1em;
}
.progress-percent-60{
  width: 60%;
}
.progress-percent-20{
  width: 20%;
}
.progress-percent-10{
  width: 10%;
}
.progress-percent-0{
  width: 0%;
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:black;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}