
span>a {
  color:#3b5998;
  background: #fff;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  float: right;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}
span>a span {
  color:#3b5998;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

span>a:hover span {
  bottom:20px;
 
  opacity:1;
}
span>a:nth-of-type(1):before {
content:'\f09a';
}
span>a:nth-of-type(2):before {
content:'\f099';
}
span>a:nth-of-type(3):before {
content:'\f0d5';
}
span>a:nth-of-type(4):before {
content:'\f113';
}

span>a:nth-of-type(5):before {
content:'\f0e0';
}
.img-zoom-lens {
  position: absolute;

  /*set the size of the lens:*/
  /*margin-top: 150px;*/
  width: 150px;
  height: 150px;
}

.img-zoom-result {
  /*margin-top: 50px;*/
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 350px !important;
  height: 350px !important;
}