/*Hiệu ứng rating stars SP1*/
/*======================================================================*/
.rating1 { 
		  border: none;
		}

.rating1 > input { display: none; } 
.rating1 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating1 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating1 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating1 > input:checked ~ label, /* show gold star when clicked */
.rating1:not(:checked) > label:hover, /* hover current star */
.rating1:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating1 > input:checked + label:hover, /* hover current star when changing rating */
.rating1 > input:checked ~ label:hover,
.rating1 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating1 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP2*/
/*======================================================================*/
.rating2 { 
  border: none;
}

.rating2 > input { display: none; } 
.rating2 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating2 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating2 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating2 > input:checked ~ label, /* show gold star when clicked */
.rating2:not(:checked) > label:hover, /* hover current star */
.rating2:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating2 > input:checked + label:hover, /* hover current star when changing rating */
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating2 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP3*/
/*======================================================================*/
.rating3 { 
  border: none;
}

.rating3 > input { display: none; } 
.rating3 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating3 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating3 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating3 > input:checked ~ label, /* show gold star when clicked */
.rating3:not(:checked) > label:hover, /* hover current star */
.rating3:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating3 > input:checked + label:hover, /* hover current star when changing rating */
.rating3 > input:checked ~ label:hover,
.rating3 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating3 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP4*/
/*======================================================================*/
.rating4 { 
		  border: none;
		}

.rating4 > input { display: none; } 
.rating4 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating4 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating4 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating4 > input:checked ~ label, /* show gold star when clicked */
.rating4:not(:checked) > label:hover, /* hover current star */
.rating4:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating4 > input:checked + label:hover, /* hover current star when changing rating */
.rating4 > input:checked ~ label:hover,
.rating4 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating4 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP5*/
/*======================================================================*/
.rating5 { 
		  border: none;
		}

.rating5 > input { display: none; } 
.rating5 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating5 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating5 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating5 > input:checked ~ label, /* show gold star when clicked */
.rating5:not(:checked) > label:hover, /* hover current star */
.rating5:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating5 > input:checked + label:hover, /* hover current star when changing rating */
.rating5 > input:checked ~ label:hover,
.rating5 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating5 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP6*/
/*======================================================================*/
.rating6 { 
		  border: none;
		}

.rating6 > input { display: none; } 
.rating6 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating6 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating6 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating6 > input:checked ~ label, /* show gold star when clicked */
.rating6:not(:checked) > label:hover, /* hover current star */
.rating6:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating6 > input:checked + label:hover, /* hover current star when changing rating */
.rating6 > input:checked ~ label:hover,
.rating6 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating6 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP7*/
/*======================================================================*/
.rating7 { 
		  border: none;
		}

.rating7 > input { display: none; } 
.rating7 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating7 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating7 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating7 > input:checked ~ label, /* show gold star when clicked */
.rating7:not(:checked) > label:hover, /* hover current star */
.rating7:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating7 > input:checked + label:hover, /* hover current star when changing rating */
.rating7 > input:checked ~ label:hover,
.rating7 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating7 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP8*/
/*======================================================================*/
.rating8 { 
		  border: none;
		}

.rating8 > input { display: none; } 
.rating8 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating8 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating8 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating8 > input:checked ~ label, /* show gold star when clicked */
.rating8:not(:checked) > label:hover, /* hover current star */
.rating8:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating8 > input:checked + label:hover, /* hover current star when changing rating */
.rating8 > input:checked ~ label:hover,
.rating8 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating8 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP9*/
/*======================================================================*/
.rating9 { 
		  border: none;
		}

.rating9 > input { display: none; } 
.rating9 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating9 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating9 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating9 > input:checked ~ label, /* show gold star when clicked */
.rating9:not(:checked) > label:hover, /* hover current star */
.rating9:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating9 > input:checked + label:hover, /* hover current star when changing rating */
.rating9 > input:checked ~ label:hover,
.rating9 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating9 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP10*/
/*======================================================================*/
.rating10 { 
		  border: none;
		}

.rating10 > input { display: none; } 
.rating10 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating10 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating10 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating10 > input:checked ~ label, /* show gold star when clicked */
.rating10:not(:checked) > label:hover, /* hover current star */
.rating10:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating10 > input:checked + label:hover, /* hover current star when changing rating */
.rating10 > input:checked ~ label:hover,
.rating10 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating10 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP11*/
/*======================================================================*/
.rating11 { 
		  border: none;
		}

.rating11 > input { display: none; } 
.rating11 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating11 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating11 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating11 > input:checked ~ label, /* show gold star when clicked */
.rating11:not(:checked) > label:hover, /* hover current star */
.rating11:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating11 > input:checked + label:hover, /* hover current star when changing rating */
.rating11 > input:checked ~ label:hover,
.rating11 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating11 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Hiệu ứng rating stars SP12*/
/*======================================================================*/
.rating12 { 
		  border: none;
		}

.rating12 > input { display: none; } 
.rating12 > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating12 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating12 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating12 > input:checked ~ label, /* show gold star when clicked */
.rating12:not(:checked) > label:hover, /* hover current star */
.rating12:not(:checked) > label:hover ~ label { color: #000000;  } /* hover previous stars in list */

.rating12 > input:checked + label:hover, /* hover current star when changing rating */
.rating12 > input:checked ~ label:hover,
.rating12 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating12 > input:checked ~ label:hover ~ label { color: #848483;  }

/*Các hiệu ứng của Kiên làm*/
/*# sourceMappingURL=bootstrap.css.map */
.btn_custom {
  width: auto;
  line-height: 30px;
  clear: none;
  float: right;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: white;
  background-color: #222;
  padding: 0px 20px;
  border-width: 0;
  font-family: TradeGothicW01-BoldCn20_675334,Helvetica,Arial,Sans-Serif;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border:2px solid white;
}
.btn_custom:hover{
  border:2px solid black;
}
.btn_custom span {
  color: #fff;
  position: relative; 
  z-index: 1;
  font-weight: 700;
  font-size: 15px;
}
.btn_custom:hover span {
  color: black;
  position: relative; 
  z-index: 1;
}
.btn_custom:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  height: 450%;
  width: 150%;
  background: white;
  -webkit-transition: all .8s ease-in-out;
  transition: all 1.1s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn_custom:hover:after {

  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container1 {
	position: relative;
  display: inline-block;
  width:100%;
  text-align:center;
}
.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  height:0%;
  width:auto;
  transition: .5s ease;
}
img.img-responsive{width: 225px;height: 225px;}
.images_custom{
  position: relative;
}
.container1:hover .overlay {
	bottom: 0;
	height: 20%;
	opacity: 1;
  
}
.overlay .text:hover {
  text-decoration: underline;
  text-align: center;
}
.text {
	position: relative;
  color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: TradeGothicW01-BoldCn20_675334,Helvetica,Arial,Sans-Serif;
    font-size: 100%;
    font-weight: 700;
    text-align: center; 
    height: 60px;
    line-height: 55px;
    border-style: solid;
    border-color: white;
    border-width: 0;
    display: inline-block;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
}
hr.style-one {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.font_all{
  font-weight: 700;
  font-size: 15px;
  
}
.cost{
  	font-weight: 700;
  	font-size: 15px; 
   	height: 35px;
    line-height: 35px; 
  	display: inline-block;
  	float: left;
  	text-align: center;
  	font-family: TradeGothicW01-BoldCn20_675334,Helvetica,Arial,Sans-Serif;
}
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}
.wrapper label:before {
  margin: 5px;
  content: "\f004";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper input:checked ~ label:before {
  color: black;
}
.wrapper label:hover:before {
  color: #d6d6c2;
}