<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
    <script src="post-json.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="myCtrl">
<form>
               <h2>Register Form</h2>
                
                <div>
                    <label>Name</label> 
                    <input type="text" ng-model="id" placeholder="ID"> 
                </div>
                <div>
                    <label>Name</label> 
                    <input type="text" ng-model="name" placeholder="Name"> 
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" ng-model="email" placeholder="Email"> 
                </div>
                <div>
                    <label>Phone</label>
                    <input type="phone" ng-model="phone" placeholder="Phone">
                </div>
                <button ng-click='Register()' >Register</button>
            </form>
             <table>
    <tr><th>Id</th><th>Name</th><th>Email</th><th>Phone</th></tr>
  
    <tr ng-repeat="data in usersData">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
   <td>{{data.email}}</td>
  <td>{{data.phone}}</td>
    </tr>
    </table>
</div>
<script type="text/javascript">
        
var app = angular.module('myApp', []);

// app.controller('myCtrl', function($scope, $http) {
//             /*$http directive is used to communicate ot the server */
//             $scope.data = {}
//             $scope.response = {}
 
//             $scope.send = function () {
//                 /*executed when submit is clicked*/
//                 console.log("inside click");
//                 console.log($scope.data.textdata);
 
//                 var posting = $http({
//                     method: 'POST',
//                     /*posting to /post */
//                     url: '/',
//                     data: $scope.data,
 
//                     processData: false
//                 })
//                 posting.then(function (response) {
//                     /*executed when server responds back*/
//                     console.log(response);
//                     $scope.response.data = response;
//                 });
//             }
//         });
var data_test = [];
app.controller('myCtrl', function($scope, $http) {


console.log(data_test);
// var data_test = {"Hello"};
 $scope.Register = function() {
    data_test.push({'id': $scope.id,'name': $scope.name,'email': $scope.email,'phone': $scope.phone});
    $http.post("/",data_test)
    .then(function(response) {
        console.log(response);
        $scope.usersData = response.config.data;
        // response.config.data = {};
            });
    data_test = [];

    };
  });

// app.controller('myCtrl', function($scope) {
//    $scope.submit= function(){
//       var data = $.param({
//         book: JSON.stringify({
//             author: $scope.author,
//             title : $scope.title,
//             body : $scope.body
//         })
//       });

//       $http.post("/api/book/", data).success(function(data, status) {
//         console.log('Data posted successfully');
//       })
//    }
// });

  </script>

</body>
</html>