	<div class="container-fluid  ">
		<div class="contact_logo row">
			<div class="contact_idm container">Contact Simplon</div>
		</div>
	</div>
	<div class="container-fluid ">		
		<div class="contact_general row">
			<p>	For general inquiries and questions, please feel free to send us a message.</p>
		</div>
	</div>
	<div class="container contact_header" ng-controller="AppController as ctrl">		
		<div class="row contact_here">
			<div class="col-md-5">
				<div class="contact_quaters">Headquarters :</div>
				<div class="row contact_adress">
					<div class="col-sm-3 contact_location">
                	   Address :
                    </div>
                    <div class="col-sm-9 contact_detail">
                        38 Yen Bai Street, Hai Chau District, Da Nang City, Viet Nam.
                    </div>
				</div>
				<div class="row">
                    <div class="col-sm-3 contact_location">
                        Phone :
                    </div>
                    <div class="col-sm-9 contact_detail">
                        +(84) 123 456 6879
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 contact_location">
                        Fax  :
                    </div>
                    <div class="col-sm-9 contact_detail">
                        123 456 6789
                    </div>
                </div>
                <div class="row contact_adress">
                    <div class="col-sm-3 contact_location">
                        Email :
                    </div>
                    <div class="col-sm-9 mail contact_detail">
                        <a href="mailto:info@yourdomain.com"> Info@gmail.com </a><br>
                        <a href="mailto:support@yourdomain.com"> Support@gmail.com </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 contact_location">
                        Operation :
                    </div>
                    <div class="col-sm-9 contact_detail">
                        <div>Open 7 days a week</div><br>
                        <div>8am to 9pm</div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-sm-12 contact_detail">
                		" FOLLOW " and " LIKE " The SIMPLON Center on <a href="">Facebook</a> + <a href="">Googleplus</a> + <a href="">Instagram</a> + <a href="">Twitter</a> for daily messages and highlighted work from our collaborative professionals. 
                	</div>
                </div>
                <div class="row ">
                	<div class="col-sm-12 social_hidden">
                		<a class="social1" href="#" target="_blank">
						    <div class="front">
								<i class="fa fa-facebook"></i>
						    </div>
						    <div class="back">
								<i class="fa fa-facebook"></i>
						    </div>
						</a>
                		<a class="social1 social-googleplus" href="#" target="_blank">
						    <div class="front">
								<i class="fa fa-google-plus"></i>
						    </div>
						    <div class="back">
								<i class="fa fa-google-plus"></i>
						    </div>
						</a>
                		<a class="social1 social-linkedin" href="#" target="_blank">
						    <div class="front">
								<i class="fa fa-linkedin"></i>
						    </div>
						    <div class="back">
								<i class="fa fa-linkedin"></i>
						    </div>
						</a>
                		<a class="social1 social-twitter" href="#" target="_blank">
						    <div class="front">
								<i class="fa fa-twitter"></i>
						    </div>
						    <div class="back">
								<i class="fa fa-twitter"></i>
						    </div>
						</a>
					</div>
                </div>
			</div>
			<div class="col-md-7" >
				<form ng-submit="ctrl.submit()" name="myForm" id="myForm">
					<div class="form-group">
						<div class="contact_location">Your Name * </div><br>
						<input type="text" ng-model="ctrl.user.username" name="uname" class="contact_form username" placeholder="Enter your name" required ng-minlength="3"/><br>
			            <span ng-show="myForm.$dirty && myForm.uname.$error.required">This is a required field</span>
			            <span ng-show="myForm.$dirty && myForm.uname.$error.minlength">Minimum length required is 3</span>
			            <span ng-show="myForm.$dirty && myForm.uname.$invalid">This field is invalid </span>
					</div>
					<div class="form-group">
						<div class="contact_location">Your Phone * </div><br>
						<input type="text" ng-model="ctrl.user.phone" name="phone" class="contact_form phone" placeholder="Enter your phone" required ng-minlength="9"/><br>
			            <span ng-show="myForm.$dirty && myForm.phone.$error.required">This is a required field</span>
			            <span ng-show="myForm.$dirty && myForm.phone.$error.minlength">Minimum length required is 10</span>
			            <span ng-show="myForm.$dirty && myForm.phone.$invalid">This field is invalid </span>
					</div>
					<div class="form-group">
						<div class="contact_location">Your Email * </div><br>
						<input type="email" ng-model="ctrl.user.email" name="email" class=" contact_formemail contact_form" placeholder="Enter your Email" required/>
		                <span ng-show="myForm.$dirty && myForm.email.$error.required">This is a required field</span>
		                <span ng-show="myForm.$dirty && myForm.email.$invalid">This field is invalid </span>
					</div>
					<div class="form-group">
						<div class="contact_location">Your Message * </div><br>
						<textarea ng-model="ctrl.user.message" name="message" class="contact_form contactform_textarea message" placeholder="Enter your message" required ng-minlength="1"></textarea>
		                <span ng-show="myForm.$dirty && myForm.message.$error.required">This is a required field</span>
		                <span ng-show="myForm.$dirty && myForm.message.$error.minlength">Minimum length required is 1</span>
		                <span ng-show="myForm.$dirty && myForm.message.$invalid">This field is invalid </span>
					</div>
					<div class="form-group">
						 <input type="submit"  value="Send" ng-disabled="myForm.$invalid" style="background-color: #4ab94a;color: white;margin-bottom: 20px;height: 30px" onclick="myFunction()" class="contact_form">
					</div>
					<div class="form-group">
						<small><strong>*</strong> These fields are required .</small>
					</div>
				</form>
			</div>
		</div>		
	</div>
<!-- Map -->
	<div class="container">
		<h2 style="text-align: center;">Google Maps</h2>
		<div class="container" id="map">	
		</div>
	</div>
	
<!--===================================================================== -->

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=
		AIzaSyBTcq3v74l5EKYBJEKRH6U6KWNa0NENn8o
		&callback=initMap">
    </script>