<link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
<div class="container" style="margin-top: 100px">
    <div class="row">
        <div id="show_table" class="col-md-12">a0-9sodl0-l</div>
        <div class="col-md-5" style="display: none" id="hidden">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <h3>Billing Address</h3>
                            <label class="label-co" ><i class="fa fa-user"></i> Full Name</label>
                            <input class="input-co" type="text" id="fname-co" name="firstname" placeholder="Full name">
                            <label class="label-co" ><i class="fa fa-envelope"></i> Email</label>
                            <input class="input-co" type="text" id="email-co" name="email" placeholder="abc@example.com">
                            <label class="label-co" ><i class="fa fa-address-card-o"></i> Address</label>
                            <input class="input-co" type="text" id="adr-co" name="address" placeholder="1 W. 15th Street">
                            <label class="label-co" ><i class="fa fa-institution"></i> City</label>
                            <input class="input-co" type="text" id="city-co" name="city" placeholder="Da Nang">

                            <div class="row">
                                <div class="col-6">
                                    <label class="label-co" >District</label>
                                    <input class="input-co" type="text" id="district" name="district" placeholder="Lien Chieu" >
                                </div>
                                <div class="col-6">
                                    <label class="label-co" class="label-co" for="zip">Ward</label>
                                    <input class="input-co" type="text" id="zip" name="zip" placeholder="Hoa Khanh Bac">
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <h3>Payment</h3>
                            <label class="label-co">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label class="label-co" for="cname">Name on Card</label>
                            <input class="input-co" type="text" id="cname" name="cardname" placeholder="Nguyen Dinh Minh Duc">
                            <label class="label-co" for="ccnum">Credit card number</label>
                            <input class="input-co" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label class="label-co" for="expmonth">Exp Month</label>
                            <input class="input-co" type="text" id="expmonth" name="expmonth" placeholder="September">
                            <div class="row">
                                <div class="col-6">
                                    <label class="label-co" for="expyear">Exp Year</label>
                                    <input class="input-co" type="text" id="expyear" name="expyear" placeholder="2018">
                                </div>
                                <div class="col-6">
                                    <label class="label-co" for="cvv">CVV</label>
                                    <input class="input-co" type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>
                    <label class="label-co">
                        <input class="input-co" type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input class="input-co" type="submit" value="Submit" class="btn-co">
                </form>
        </div>

    </div>

</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
            <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a></div>
        <div class="col-sm-4"></div>
    </div>


    <div class="modal fade login" id="loginModal"  ng-controller="loginCtrl"  >
        <div class="modal-dialog login animated" >
            <div class="modal-content-login">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login with</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="social">
                                <a class="circle github" style="cursor: pointer" >
                                    <i class="fa fa-github fa-fw"></i>
                                </a>
                                <a id="google_login" class="circle google" style="cursor: pointer">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                                <a id="facebook_login" class="circle facebook" style="cursor: pointer">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" action="/login" accept-charset="UTF-8">
                                    <input id="em" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="pass" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form  data-remote="true" action="/register" accept-charset="UTF-8">
                                    <input id="email" class="form-control" ng-model="email" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off" placeholder="Email">
                                    <span class="red-text" ng-if="inquiryForm.email.$error.required && inquiryForm.email.$dirty">Email is a required field</span>

                                    <span class="red-text" ng-show="inquiryForm.email.$error.pattern">Invalid Email</span>
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                    <input class="btn btn-default btn-register" type="button" value="Create account"  ng-click="regis()">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                            <span>Looking to
                                 <span style="cursor: pointer;color: #00BBFF" onclick="showRegisterForm()">create an account</span>
                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <span style="cursor: pointer;color: #00BBFF" onclick="showLoginForm()">Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
