
<div class="container-fluid">
    <aside>
        <!-- anh parallax 1 // row1   -->
        <div class="row">
            <div class="parallax" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/shopping-portrait-pretty-purchase-style-sunglasses-1435599-pxhere.com.jpg');">
                <div class="container info">
                    <p class="aside-comment">
                        SINCE 1985
                    </p>
                </div>
            </div>
        </div>
        <!-- anh parallax 2 // row 2 -->
        <div class="row">
            <div style="width: 50%; min-height: 355px;background-image:url('images/index_background/red-color-paint-painting-nail-polish-art-1095989-pxhere.com.jpg');" class="parallax" data-parallax="scroll" data-z-index="1" >

            </div>
            <div class="background-picture">
                <!-- <div class="info aside-comment"> -->
                <!-- <a class="text-a" href="#">Buy Now</a> -->
                <!-- <div class="container-fluid slide" style="
								    padding-right: 0;
								    padding-left: 0;
									  margin-right: auto;
								    margin-left: auto;"> -->
                    <!--Slide-->
                    <!-- <div class="fluid_container">
                        <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                            <div data-thumb="images/index_background/abstract-girl-woman-photography-female-brunette-692890-pxhere.com.jpg" data-src="images/index_background/abstract-girl-woman-photography-female-brunette-692890-pxhere.com.jpg" style="width: 100%">
                            </div>
                            <div data-thumb="images/index_background/beautiful-boy-fun-girl-human-hand-1437159-pxhere.com.jpg" data-src="images/index_background/beautiful-boy-fun-girl-human-hand-1437159-pxhere.com.jpg" style="width: 100%">
                            </div>
                            <div data-thumb="images/index_background/lipstick-girl-cool-hand-fun-1444817-pxhere.com.jpg" data-src="images/index_background/lipstick-girl-cool-hand-fun-1444817-pxhere.com.jpg" style="width: 100%">
                            </div>
                            <div data-thumb="images/index_background/hand-photography-bottle-still-life-glass-bottle-brand-805880-pxhere.com.jpg" data-src="images/index_background/hand-photography-bottle-still-life-glass-bottle-brand-805880-pxhere.com.jpg" style="width: 100%">
                            </div>
                            <div data-thumb="images/index_background/woman-lip-nose-eyebrow-beauty-close-up-1437373-pxhere.com.jpg" data-src="images/index_background/woman-lip-nose-eyebrow-beauty-close-up-1437373-pxhere.com.jpg" style="width: 100%">
                            </div>
                        </div> #camera_wrap_3 --> 
                   <!--  </div>.fluid_container -->
                <!-- </div> -->
                <!-- </div> -->
                          <div class="" style="max-width:600px; height: 355px;">
                    <img style="width: 760px; height: 355px;" class="mySlides" src="images/index_background/beautiful-boy-fun-girl-human-hand-1437159-pxhere.com.jpg" style="width:100%">
                    <img style="width: 760px; height: 355px;" class="mySlides" src="images/index_background/light-abstract-black-and-white-architecture-structure-white-665995-pxhere.com.jpg" style="width:100%">
                    <img style="width: 760px; height: 355px;" class="mySlides" src="images/index_background/hand-flower-petal-finger-food-color-1406978-pxhere.com.jpg" style="width:100%">
                  </div>
            </div>
        </div>
    </aside>
</div>
<br>
<!-- thong tin  -->
<p class="outside">
<div class="container" >
    <!-- tieu de // row 3 -->
    <div class="row">
        <div class="col-md-12">
            <b class="outside-title-page">BEST SELLER</b>
        </div>
    </div>
    <br>
    <!-- anh tieu de // row 4 -->
    <div style="" class="row">
        <div class="col-md-12" id="Processor">
            <div class="col-md-2">
                <div class="defaut_category active" ng-click="bs_ring()" id="sell_hair" style="cursor: pointer">HAIR</div>
            </div>
            <div class="col-md-2">
                <div class="defaut_category" ng-click="bs_ring($event)" id="sell_skin"  style="cursor: pointer">SKIN</div>
            </div>
            <div class="col-md-2">
                <div class="defaut_category" ng-click="bs_ring($event)" id="sell_makeup" style="cursor: pointer">MAKEUP</div>
            </div>
            <div class="col-md-2">
                <div class="defaut_category" ng-click="bs_ring($event)" id="sell_nails"  style="cursor: pointer">NAILS</div>
            </div>
            <div class="col-md-2">
                <div class="defaut_category" ng-click="bs_ring($event)" id="sell_jewellry" style="cursor: pointer">JEWELLRY</div>
            </div>
            <div class="col-md-2">
                <div class="defaut_category" ng-click="bs_ring($event)" id="sell_wedding" style="cursor: pointer">WEDDING</div>
            </div>
        </div>
    </div>
    <!-- san pham hot // row 5 -->
    <div class="row" id="bs_ring">
        <!-- HAIR -->
        <!-- Rings products 1st row -->
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12" ng-repeat="product in products">
            <hr>
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 style="font-weight: 700;float: left;" id="name_{{product.class_rating_star}}" >{{product.name}}</h4>
                    </div>
                    <div class="col-md-10">
                        <fieldset class="rating{{product.class_rating_star}}" style="float: right;">
                            <input type="radio" id="{{product.class_rating_star}}star5" name="rating{{product.class_rating_star}}" value="5" /><label class = "full" for="{{product.class_rating_star}}star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star4half" name="rating{{product.class_rating_star}}" value="4 and a half" /><label class="half" for="{{product.class_rating_star}}star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star4" name="rating{{product.class_rating_star}}" value="4" /><label class = "full" for="{{product.class_rating_star}}star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star3half" name="rating{{product.class_rating_star}}" value="3 and a half" /><label class="half" for="{{product.class_rating_star}}star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star3" name="rating{{product.class_rating_star}}" value="3" /><label class = "full" for="{{product.class_rating_star}}star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star2half" name="rating{{product.class_rating_star}}" value="2 and a half" /><label class="half" for="{{product.class_rating_star}}star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star2" name="rating{{product.class_rating_star}}" value="2" /><label class = "full" for="{{product.class_rating_star}}star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star1half" name="rating{{product.class_rating_star}}" value="1 and a half" /><label class="half" for="{{product.class_rating_star}}star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="{{product.class_rating_star}}star1" name="rating{{product.class_rating_star}}" value="1" /><label class = "full" for="{{product.class_rating_star}}star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="{{product.class_rating_star}}starhalf" name="rating{{product.class_rating_star}}" value="half" /><label class="half" for="{{product.class_rating_star}}starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="row" style="clear: left;">
                    <div class="col-md-6" style="clear: right">
                        <h4 style="font-weight: 700;float: left; display: none;" id="id_sp_{{product.class_rating_star}}">{{product.id}}</h4>
                    </div>
                    <div class="wrapper col-md-6">
                        <input style="float: right;" type="checkbox" id="st{{product.class_rating_star}}" value="1" />
                        <label style="float: right;" title="Favorite" for="st{{product.class_rating_star}}"></label>
                    </div>
                </div>
            </div>
            <div class="container1">
                <div class="overlay">
                    <!--<a href="#!profile_gold/{{product.class_rating_star}}">-->
                    <a href="#!/profile/{{product.type}}/{{product.class_rating_star}}"> <div class="text">PREVIEW SHADES</div></a>
                    <!--</a>-->
                </div>
                <div class="img-responsive">
                    <!--<a href="#!profile_gold/{{product.class_rating_star}}">-->
                    <a href="#!/profile/{{product.type}}/{{product.class_rating_star}}"><img ng-src={{product.image}} class="img-responsive"></a>
                    <!--</a>-->
                </div>
            </div>
            <hr class="style-one">
            <div>
                <div class="cost" id="price_{{product.class_rating_star}}">
                    {{product.price}}$
                </div>
                <div>
                    <a href="#!/profile/{{product.type}}/{{product.class_rating_star}}" style="display: block" class="btn_custom"><span>SHOW MORE  </span><i class="fas fa-angle-double-right"></i></a>
                    <!--<div style="display: none" class="btn_custom_added" ng-click="add_Cart(product.class_rating_star)" id="btn_{{product.id}}_added_{{product.class_rating_star}}"><span>ADDED CART  </span> <i class="fas fa-shopping-cart"></i></div>-->
                </div>
            </div>
        </div>
   <!--
  -->








      <!-- SKIN -->

      <!-- END JEWELLRY -->       

    <!-- tieu de // row 6 // css row 3 -->
    <div class="row">
        <div style="margin-top: 50px;" class="col-md-12">
            <b class="outside-title-page">LIMITED EDITION</b>
            <br>
            <b class="outside-title-page-small" >GET IT BEFORE IT'S GONE!</b>
            <br>
        </div>
    </div>
    <!-- anh thong tin // row 7 -->
    <div class="row">
        <!-- <div class="col-md-12"> -->
        <div class="col-md-3">
            <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/wing-light-abstract-black-and-white-architecture-white-18153-pxhere.com.jpg');">
                <div class="info text-inside">
                    GET IT
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/light-abstract-black-and-white-architecture-structure-white-665995-pxhere.com.jpg');">
                <div class="info text-inside">
                    BEFORE
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/light-black-and-white-architecture-white-vintage-retro-742858-pxhere.com.jpg');">
                <div class="info text-inside">
                    IT'S
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/hand-rock-music-light-black-and-white-white-918544-pxhere.com.jpg');">
                <div class="info text-inside">
                    GONE
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- tieu de // row 8 // css row 3 -->
    <div class="row">
        <div class="col-md-12">
            <b class="outside-title-page">FIND MORE FAVOURITES</b>
            <br>
            <b class="outside-title-page-small">SHOP BY CATEGORY</b>
            <br>
            <br>
        </div>
    </div>
    <!-- anh thong  tin // row 9 // css row 7-->

    <div class="row">
        <div style="text-align: center; margin-left: 14px;">
            <!-- <div class="col-md-3">
                <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/window-glass-color-graffiti-painting-street-art-777250-pxhere.com.jpg');">

                </div>
            </div>
            <div class="col-md-6">
                <div style="width: 562px;background-image:url('images/index_background/abstract-structure-pattern-red-color-paint-721084-pxhere.com.jpg');" class="parallax picture" data-parallax="scroll" data-z-index="1" >

                </div>
            </div>
            <div class="col-md-3">
                <div class="parallax picture" data-parallax="scroll" data-z-index="1" style = "background-image:url('images/index_background/texture-wall-reflection-color-crack-chipped-1046-pxhere.com.jpg');">

                </div>
            </div> -->
            <figure class="snip1581"><img src="images/index_background/window-glass-color-graffiti-painting-street-art-777250-pxhere.com.jpg"/>
              <figcaption>
                <h3 class="title1">The</h3>
                <h3 class="title2" style="color: #da25cb;">Spring</h3>
                <h3 class="title3">Collection</h3>
              </figcaption><a href="#"></a>
            </figure>
            <figure class="snip1581"><img src="images/index_background/window-glass-color-graffiti-painting-street-art-777250-pxhere.com.jpg"/>
              <figcaption>
                <h3 class="title1">The</h3>
                <h3 class="title2" style="color: #51cf31">Summer</h3>
                <h3 class="title3">Collection</h3>
              </figcaption><a href="#"></a>
            </figure>
            <figure class="snip1581"><img src="images/index_background/window-glass-color-graffiti-painting-street-art-777250-pxhere.com.jpg"/>
              <figcaption>
                <h3 class="title1">The</h3>
                <h3 class="title2">Autumn</h3>
                <h3 class="title3">Collection</h3>
              </figcaption><a href="#"></a>
            </figure>
            <figure class="snip1581"><img src="images/index_background/window-glass-color-graffiti-painting-street-art-777250-pxhere.com.jpg" alt="profile-sample2"/>
              <figcaption>
                <h3 class="title1">The</h3>
                <h3 class="title2" style="color: #ef4c4c;">Winter</h3>
                <h3 class="title3">Collection</h3>
              </figcaption><a href="#"></a>
            </figure>
        </div>
    </div>
</div>
</p>
<script type="text/javascript">
    //Filter
filterSelection("hair")
//Add and remove show class from the elements that are not selected
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  //Conditionals
  if (c == "hair") c ="hair";
  for (i = 0; i < x.length; i++) {
    RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
  }
}
//Show filtered elements
function AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}
//Hide elements that are not selected
function RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}
// Add active class to the current button (highlight it)
var processorContainer = document.getElementById("Processor");
var processor = processorContainer.getElementsByClassName("defaut_category");
for (var i = 0; i < processor.length; i++) {
  processor[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}


var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}

</script>
<!-- footer // row 10 -->
