<div id="navbar" class="">    
  <nav class="navbar navbar-inverse navbar-fixed-top nav_container" role="navigation">
    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav_logo" href="#!/home">
        <img class="img-responsive nav_logo" src="logo/logo.png"></img>
      </a>
    </div>
    <!-- NAVBAR COLLAPSE -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <!-- NAVBAR LEFT -->
      <ul class="nav navbar-nav snip1555">
        <!-- WHAT'S NEW            -->
        <li class="dropdown snip1556">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">WHAT'S NEW <b class="caret"></b></a> 
            <ul class="dropdown-menu">
              <li><a href="#">SEE ALL COLECTION</a></li>
              <li><a href="#">SUMPREME BEAM</a></li>
              <li><a href="#">DAZZELSHADOW LIQUID</a></li>                          
              <li><a href="#">TREND FORCAST SPRING'S 14</a></li>                          
              <li><a href="#">PLENTY OF POUT</a></li>                                   
            </ul>
        </li>
        <!-- PRODUCTS            -->
        <li class="dropdown snip1556"><a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <!-- HAIR            -->                            
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">HAIR</a>
                <ul class="dropdown-menu">
                  <li><a href="hair_care.html">HAIR CARE</a></li>
                  <li><a href="hair_model.html">HAIR MODELS</a></li>
                  <li><a href="hair_conditioner.html">HAIR CONDITIONER</a></li>
                  <li><a href="hair_shampoo.html">HAIR SHAMPOO</a></li>
                  <li><a href="#">HAIR UPCOMING</a></li>                                   
                </ul>
              </li>
              <!-- SKIN            -->
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">SKIN</a>
                <ul class="dropdown-menu">
                  <li><a href="skin_dactrimun.html">SKIN ACNE TREATMENT</a></li>
                  <li><a href="skin_duongam.html">SKIN MOISTURIZING</a></li>
                  <li><a href="skin_suaruamat.html">SKIN MILK CLEANSER</a></li>
                  <li><a href="skin_taytrang.html">SKIN BLEACHING</a></li>
                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">SKIN UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">SKIN A</a></li>
                      <li><a href="#">SKIN B</a></li>                     
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- MAKE-UP KITS            -->
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">MAKE-UP KITS</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/eyes">EYES</a></li>
                  <li><a href="#!/product/lips">LIPS</a></li>
                  <li><a href="#">BROW</a></li>
                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">MAKE-UP UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">MAKE-UP A</a></li>
                      <li><a href="#">MAKE-UP B</a></li>                      
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- NAIL            -->
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">NAIL</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/polish">NAIL POLISH</a></li>
                  <li><a href="#!/product/false_nail">NAIL-ART</a></li>
                  <li><a href="nail-paint.html">NAIL-PAINT</a></li>
                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">NAIL UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">NAIL A</a></li>
                      <li><a href="#">NAIL B</a></li>                     
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- JEWELLRY            -->  
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">JEWELLRY</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/gold">GOLD RINGS</a></li>
                  <li><a href="#!/product/diamon">DIAMOND RINGS</a></li>
                  <li><a href="#">NECKLACES</a></li>
                  <li><a href="#">BRACELETS</a></li>
                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">JEWELLRY UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">JEWELLRY A</a></li>
                      <li><a href="#">JEWELLRY B</a></li>                                   
                    </ul>
                  </li>                                  
                </ul>
              </li> 
              <!-- WEDDING            -->
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">WEDDING</a>
                <ul class="dropdown-menu">
                  <li><a href="#">KITS</a></li>
                  <li><a href="#">BRIDE</a></li>
                  <li><a href="#">BRIDEGROOM</a></li>
                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">WEDDING UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">WEDDING A</a></li>
                      <li><a href="#">WEDDING B</a></li>                                    
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="#">UPCOMING PRODUCTS</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">BEST SALE</a></li>                                                                                    
          </ul>
        </li>
        <!-- STORE            -->
        <li><a href="#">STORE</a></li>
        <!-- UPCOMMING            -->
        <li><a href="#">UPCOMMING</a></li>
      </ul>

      <!-- NAVBAR RIGHT -->
      <!-- NAVBAR FORM -->
      <form class="navbar-form navbar-left">
        <!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="productSearch.name"></input>
        </div>
        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button> -->
        <div class="search__container">
          <input class="search__input" type="text" placeholder="Search" ng-model="productSearch.name">
        </div>
      </form>

      <ul style="margin-right: 5px;" class="nav navbar-nav navbar-right snip1555">
        <li>
          <a href='#!/login' style="font-weight: 600" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <!-- CONTACT US            -->
        <li>
          <a href="#!/contact-us"><i class="fas fa-globe"></i></a>
        </li>
        <!-- ABOUT US          -->

        <li>
          <a href="#!/about-us"><i class="far fa-id-card"></i></a>
        </li>

        <!-- CART            -->
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-shopping-cart"></i>
              <!-- <span class="caret"></span> -->
            </a>
            <ul class="dropdown-menu" id="ul-nav-cart">
              <li>
                <div class="container navbar-product pre-scrollable">
                  <div id="show_table" ng-controller="productCtrl"></div>
                </div>
              </li>             
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="modal fade login" id="loginModal"  ng-controller="loginCtrl"  >
  <div class="modal-dialog login animated" >
    <div class="modal-content-login">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login with</h4>
      </div>
      <div class="modal-body">
        <div class="box">
          <div>
            <div class="content">
              <div class="social">
                <a class="circle github" style="cursor: pointer" >
                  <i class="fa fa-github fa-fw"></i>
                </a>
                <a id="google_login" class="circle google" style="cursor: pointer">
                  <i class="fa fa-google-plus fa-fw"></i>
                </a>
                <a id="facebook_login" class="circle facebook" style="cursor: pointer">
                  <i class="fa fa-facebook fa-fw"></i>
                </a>
              </div>
              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>
              <div class="error"></div>
              <div class="form loginBox">
                <form method="post" action="/login" accept-charset="UTF-8">
                  <input id="em" class="form-control" type="text" placeholder="Email" name="email">
                  <input id="pass" class="form-control" type="password" placeholder="Password" name="password">
                  <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content registerBox">
            <div class="form">
              <form  data-remote="true" action="/register" accept-charset="UTF-8">
                <input id="email" class="form-control" ng-model="email" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off" placeholder="Email">
                <span class="red-text" ng-if="inquiryForm.email.$error.required && inquiryForm.email.$dirty">Email is a required field</span>

                <span class="red-text" ng-show="inquiryForm.email.$error.pattern">Invalid Email</span>
                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                <input class="btn btn-default btn-register" type="button" value="Create account"  ng-click="regis()">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="forgot login-footer">
            <span>Looking to
                     <span style="cursor: pointer;color: #00BBFF" onclick="showRegisterForm()">create an account</span>
            ?</span>
        </div>
        <div class="forgot register-footer" style="display:none">
          <span>Already have an account?</span>
          <span style="cursor: pointer;color: #00BBFF" onclick="showLoginForm()">Login</span>
        </div>
      </div>
    </div>
  </div>
</div>
