<div id="navbar" class="" >
  <nav class="navbar navbar-inverse navbar-fixed-top nav_container" role="navigation">
    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav_logo" href="#!/home/index">
        <img class="img-responsive nav_logo" src="logo/logo.png"></img>
      </a>
    </div>
    <!-- NAVBAR COLLAPSE -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <!-- NAVBAR LEFT -->
      <ul class="nav navbar-nav snip1555">
        <!-- WHAT'S NEW            -->
        <li class="dropdown snip1556">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">WHAT'S NEW <b class="caret"></b></a> 
            <ul class="dropdown-menu">
              <li><a href="">SEE ALL COLECTION</a></li>
              <li><a href="">SUMPREME BEAM</a></li>
              <li><a href="">DAZZELSHADOW LIQUID</a></li>                          
              <li><a href="">TREND FORCAST SPRING'S 14</a></li>                          
              <li><a href="">PLENTY OF POUT</a></li>                                   
            </ul>
        </li>
        <!-- PRODUCTS            -->
        <li class="dropdown snip1556"><a href="" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <!-- HAIR            -->                            
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">HAIR</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/extensions">HAIR EXTENSIONS</a></li>
                  <li><a href="#!/product/curling">HAIR CURLING TOOLS</a></li>
                  <li><a href="#!/product/conditioner">HAIR CONDITIONER</a></li>
                  <li><a href="#!/product/shampoo">HAIR SHAMPOO</a></li>
                  <li><a href="">HAIR UPCOMING</a></li>                                   
                </ul>
              </li>
              <!-- SKIN            -->
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">SKIN</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/skinacne">SKIN ACNE TREATMENT</a></li>
                  <li><a href="#!/product/skinmoisturizing">SKIN MOISTURIZING</a></li>
                  <li><a href="#!/product/skinmilkclearser">SKIN MILK CLEANSER</a></li>
                  <li><a href="#!/product/skinbleach">SKIN BLEACHING</a></li>
                  <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">SKIN UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="">SKIN A</a></li>
                      <li><a href="">SKIN B</a></li>                     
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- MAKE-UP KITS            -->
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">MAKE-UP KITS</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/eyes">EYES</a></li>
                  <li><a href="#!/product/lips">LIPS</a></li>
                  <li><a href="">BROW</a></li>
                  <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">MAKE-UP UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="">MAKE-UP A</a></li>
                      <li><a href="">MAKE-UP B</a></li>                      
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- NAIL            -->
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">NAIL</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/polish">NAIL POLISH</a></li>
                  <li><a href="#!/product/false_nail">NAIL-ART</a></li>
                  <li><a href="nail-paint.html">NAIL-PAINT</a></li>
                  <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">NAIL UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="">NAIL A</a></li>
                      <li><a href="">NAIL B</a></li>                     
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <!-- JEWELLRY            -->  
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">JEWELLRY</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/gold">GOLD RINGS</a></li>
                  <li><a href="#!/product/diamon">DIAMOND RINGS</a></li>
                  <li><a href="">NECKLACES</a></li>
                  <li><a href="">BRACELETS</a></li>
                  <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">JEWELLRY UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="">JEWELLRY A</a></li>
                      <li><a href="">JEWELLRY B</a></li>                                   
                    </ul>
                  </li>                                  
                </ul>
              </li> 
              <!-- WEDDING            -->
              <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">WEDDING</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/product/weddingkit">KITS</a></li>
                  <li><a href="#!/product/weddingbride">BRIDE</a></li>
                  <li><a href="">BRIDEGROOM</a></li>
                  <li class="dropdown dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">WEDDING UPCOMING</a>
                    <ul class="dropdown-menu">
                      <li><a href="">WEDDING A</a></li>
                      <li><a href="">WEDDING B</a></li>                                    
                    </ul>
                  </li>                                  
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="">UPCOMING PRODUCTS</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="">BEST SALE</a></li>                                                                                    
          </ul>
        </li>
        <!-- STORE            -->
        <li><a href="">STORE</a></li>
        <!-- UPCOMMING            -->
        <li><a href="">UPCOMMING</a></li>
      </ul>

      <!-- NAVBAR RIGHT -->
      <!-- NAVBAR FORM -->
      <!--<form class="navbar-form navbar-left">-->
       <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search" ng-model="productSearch.name" />&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>&ndash;&gt;-->
        <!--<div class="search__container" id="div_search ">-->
            <!--<input class="search__input" type="text" placeholder="Search">-->
        <!--</div>-->
      <!--</form>-->

      <ul style="margin-right: 5px;" class="nav navbar-nav navbar-right snip1555">

        <!-- CONTACT US            -->
        <li>
          <a href="#!/contact-us">Contact Us <i class="fas fa-globe"></i></a>
        </li>
        <!-- ABOUT US          -->

        <li>
          <a href="#!/about-us">About Us <i class="far fa-id-card"></i></a>
        </li>

        <!-- CART            -->
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Cart 
              <i class="fas fa-shopping-cart"></i>
              <!-- <span class="caret"></span> -->
            </a>
            <ul class="dropdown-menu" id="ul-nav-cart">
              <li>
                <div class="container navbar-product pre-scrollable">
                  <div id="show_table"   style="font-weight: 600"></div>
                </div>
              </li>             
            </ul>
        </li>
        <li>
          <a style="cursor: pointer;font-weight: 600;" id="icon_user_male">{{name}} <i class='fas fa-male'></i></a>
        </li>
        <li>
          <a style="cursor: pointer;font-weight: 600;" id="icon_user_female" >{{name}} <i class="fas fa-female"></i></a>
        </li>
        <li>
          <a style="cursor: pointer;font-weight: 600;" id="admin" >{{name}} <i class="fas fa-crown"></i></a>
        </li>
        <li>

          <a id="login_navbar" style="font-weight: 600" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in <i class="fas fa-sign-in-alt"></i></a>
          <a style="cursor: pointer;font-weight: 600;" id="logout_navbar" ng-click="logout()"> Log out <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="modal fade login" id="loginModal">
  <div class="modal-dialog login animated" >
    <div class="modal-content-login">
      <div class="modal-header" id="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login with</h4>
      </div>
      <div class="modal-body">
        <div class="box">
            <div class="content">
              <div id="icon_of_login">
                <div class="social">
                  <a class="circle github" style="cursor: pointer" >
                    <i class="fa fa-github fa-fw"></i>
                  </a>
                  <a id="google_login" class="circle google" style="cursor: pointer">
                    <i class="fa fa-google-plus fa-fw"></i>
                  </a>
                  <a id="facebook_login" class="circle facebook" style="cursor: pointer">
                    <i class="fa fa-facebook fa-fw"></i>
                  </a>
                </div>

              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>
              </div>
              <div class="error"></div>
              <div class="form loginBox">
                <form method="post" action="/login" accept-charset="UTF-8">
                  <input id="em" class="form-control" type="text" placeholder="Username" name="email"/>
                  <input id="pass" class="form-control" type="password" placeholder="Password" name="password" onkeydown="loginAjax(event)" />
                  <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax(event)">
                </form>
              </div>
            </div>
        </div>
        <div class="box">

          <div class="content registerBox">
            <div style="font-weight: 600;margin-bottom: 10px"><b>Please fill in this form to create an account</b></div>
            <div class="form">

              <form  data-remote="true" action="/register" accept-charset="UTF-8">
                <label style="float: left"><b>Username</b></label>
                <input id="email" class="form-control" ng-model="email" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off" placeholder="Username" ng-keyup="check_username()">
                <div style="float:left; color:red;display: none" id="warning_username"><i class="fas fa-exclamation"></i> Username is already taken</div><br>
                <label style="float: left"><b>Password</b></label>
                <input id="password" class="form-control" type="password" placeholder="Password" name="password" ng-keyup="check_pass()">
                <div style="float:left; color:red;display: none" id="warning_password"><i class="fas fa-exclamation"></i> Pass must over than 5 character or number</div><br>
                <label style="float: left"><b>Repeat Password</b></label>
                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation" ng-keyup="check_pass_comfim()">
                <div style="float:left; color:red;display: none" id="warning_password_confim"><i class="fas fa-exclamation"></i> Pass confirm is not equal pass</div><br>
                <label style="float: left"><b>Nickname</b></label>
                <input id="nick_name" class="form-control" type="text" placeholder="Nickname"><br>
                <label style="float: left"><b>Name</b></label>
                <input id="name_rg" class="form-control" type="text" placeholder="Name">
              <br>
                <label style="float: left" for="bday">Birthday</label>
                <input type="date" id="bday" name="bday" style="width: 78%" /><br><br>
                <label style="float: left"><b>Sex</b></label><br>
                <input  type="radio" value="male" name="Sex" checked>Male
                <input  type="radio" value="female" name="Sex">Female<br><br>
                <label style="float: left"><b>Address</b></label>
                <input id="add_rg" class="form-control" type="text" placeholder="Address"><br>
                <label style="float: left"><b>Phone</b></label>
                <input id="telephone_rg" class="form-control" type="text" placeholder="Phone" ng-keyup="check_phone()" />
                <div style="float:left; color:red;display: none" id="warning_digit"><i class="fas fa-exclamation"></i> Phone not enough 10 digit</div>
                <div style="float:left; color:red;display: none" id="warning_digit_11"><i class="fas fa-exclamation"></i> Phone mustn't over than 11 digits</div>
                <div style="float:left; color:red;display: none" id="warning_character"><i class="fas fa-exclamation"></i> Phone not equal character</div>
                <input class="btn btn-default btn-register" type="button" value="Create account"  ng-click="regis()">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="forgot login-footer">
            <span>Looking to
                     <span style="cursor: pointer;color: #00BBFF" onclick="showRegisterForm()">create an account</span>
            ?</span>
        </div>
        <div class="forgot register-footer" style="display:none">
          <span>Already have an account?</span>
          <span style="cursor: pointer;color: #00BBFF" onclick="showLoginForm()">Login</span>
        </div>
      </div>
    </div>
  </div>
</div>
